<!-- Tela de Tutorial -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Geri | Tutorial</title>
    <link rel="stylesheet" href="/css/style-tutorial.css">

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>

<body>
    <main class="container">
        <div class="title">
            <h1>Como usar a Geri?</h1>
            <p>Assista ao vídeo ou leia o texto explicativo abaixo.</p>
        </div>

        <div class="video">
            <iframe width="679.774" height="366.216" src="https://www.youtube.com/embed/VGgSOIX9ihA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="text">
            <p>Funciona da seguinte forma: <br> <br>

                O <b>formulário</b> que você preencherá quando terminar essa tutorial será a primeira entrada de dados e deverá
                ser referente ao mês selecionado (se você está em agosto, por exemplo, coloque os dados de gastos,
                receitas, entre outros de desde o dia 1 de agosto). <br> <br>

                Você será direcionado(a) para seu <b>painel</b> de dados financeiros. Nele, você conseguirá acompanhar suas
                despesas, receitas, seu saldo e um resumo do mês com categorias de gastos. <br> <br>

                Você também poderá acessar suas tarefas para conquistar seus sonhos de consumo na tela "<b>Tarefas</b>". <br>
                <br>

                Isso serve para que seu painel possa ser atualizado todos os dias para que, dessa forma, você garanta um
                acompanhamento real e útil da sua vida financeira. Esse texto e o vídeo poderão ser acessados sempre que
                for necessário através da nossa página “<b>Como usar?</b>”. <br> <br>

                Queremos ficar longe das dívidas e conquistar nossos sonhos. Vamos juntos! <br> <br>

                Dúvidas? Envie um e-mail para anne.figueiroa@sou.inteli.edu.br ou entre em contato via <a
                    href="http://https://www.linkedin.com/in/anneestherlf/">LinkedIn</a>. <br> <br>
            </p>

            <p>“Educação financeira é sobre escolhas conscientes que sustentam sonhos reais.”</p>
        </div>
        <div class="button">
            <a href="/dashboard"><button>Continuar</button></a>
        </div>
    </main>
    <footer class="footer">
        <a class="license" href="https://github.com/anneestherlf/projeto-individual-M2-inteli" target="_blank">
            Feito por Anne Esther © MIT License 2025
        </a>
    </footer>
</body>

</html>